<!doctype html>
<html>
<body>
<p>
    Dear {{title}} <em>{{name}}</em>,
</p>
<p>
    I prepared a logo for your empire. Just have a look and give me a feedback.
</p>
<p style="align:center">
    <img src="galaxy.jpeg"/>
</p>
<p>
    Uh, I almost forgot to tell you: <strong>oh emperor, you'll die soon! Assassinated!</strong>
    <br/>
    I used Psychohistory to build a nice forecast about
    the probability you'll die in the next years. Please, find in attach a few data
    related to this forecast. <em>Have fun!</em>
</p>
<p>
    Sincerely,
    <br/>
    Hari.
</p>
<p>﻿

    --<br/>
    <em>Hari Seldon</em><br/>
    Professor Emeritus of Psychohistory at Streeling University on Trantor.<br/>
    Director of the Psychohistory Research Project.<br/>
    Executive Editor of the Encyclopedia Galactica.<br/>
    Creator of the Foundation.
</p>
</p>
</body>
</html>